.post {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .post {
    width: 100vw;
  }
}


.post:hover {
  cursor: pointer;
}

.post .postImage {
  min-height: 27vh;
  background-position: center;
  border: 1px solid lightgray;
  background-size: cover;
  -webkit-animation: fadein ease-in .75s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeIn ease 1s; /* Firefox < 16 */
      -ms-animation: fadeIn ease 1s; /* Internet Explorer */
       -o-animation: fadeIn ease 1s; /* Opera < 12.1 */
          animation: fadein ease-in .75s;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .post .postImage {
    min-height: 40vh;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.post .postTitle {
  font-size: 2.5vh;
  line-height: 110%;
  text-align: left;
  align-content: center;
  /* background-color: #F9DF68; */
  margin-top: 5%;
  /* padding: 2.5%; */
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .post .postTitle {
    font-size: 3vh;
  }
}

.post .postParagraph {
  margin-top: 2.5%;
  font-size: 1.9vh;
  text-align: left;
  line-height: 120%;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .post .postParagraph {
    font-size: 2.5vh;
  }
}


.post .readMore {
  text-align: right;
  margin-top: 2.5%;
  font-size: 1.6vh;
}